PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/marketplace
JWT_SECRET=marketplace_hito4_secret_cambiar_en_render
JWT_EXPIRES_IN=2h
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dxeok2f7c
CLOUDINARY_API_KEY=636866234612893
CLOUDINARY_API_SECRET=y2rNzsmtbz8WoTw0SxkMhFbgBTU